
    <!DOCTYPE html> <html>
  <link rel="stylesheet" href="/static/updateAssets/web/assets/mobirise-icons-bold/mobirise-icons-bold.css">
  <link rel="stylesheet" href="/static/updateAssets/web/assets/mobirise-icons/mobirise-icons.css">
  <link rel="stylesheet" href="/static/updateAssets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/updateAssets/bootstrap/css/bootstrap-grid.min.css">
  <link rel="stylesheet" href="/static/updateAssets/bootstrap/css/bootstrap-reboot.min.css">
  <link rel="stylesheet" href="/static/updateAssets/dropdown/css/style.css">
  <link rel="stylesheet" href="/static/updateAssets/tether/tether.min.css">
  <link rel="stylesheet" href="/static/updateAssets/theme/css/style.css">
  <link rel="preload" as="style" href="/static/updateAssets/mobirise/css/mbr-additional.css"><link rel="stylesheet" href="/static/updateAssets/mobirise/css/mbr-additional.css" type="text/css">

    <style> 
    .red {
        color: red;
    }
    .green {
        color: green;
    }
    .big {
        width: 100%;
        text-align: center;
    }
    .counter-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
    </style>
    <body>  
    <div class="counter-container">
        <h2>Confirmed Cases:</h2>
        <h2 class="red">417966</h2>
        </br>
        <h2>Confirmed US Cases:</h2>
        <h2 class="red">53740</h2>
        </br>
        <h3 class="big">Confirmed Cases for Waseca, Minnesota, US:</h3>
        <h2>
            <span class="red">1</span>
        </h2>
        <h3 class="big">Confirmed Deaths for Waseca, Minnesota, US:</h3>
        <h2>
            <span class="red">0</span>
        </h2>
        <h3 class="big">Confirmed Recoveries for Waseca, Minnesota, US:</h3>
        <h2>
            <span class="red">0</span>
        </h2>
        <h5>Last Updated on 03-24-2020</h5>
    </div>
    </body>
    </html>
    