<!DOCTYPE html>
<html  >
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<script>
  function updateZIP(sel){
    document.getElementById("projectionsZIP").src =  "/covid19/projectionsZIP" + document.getElementById("ZIP").value;
    document.getElementById("counters").src =  "/covid19/counter" + document.getElementById("ZIP").value;
    document.getElementById("stateprojection5").src =  "/covid19/stateprojection" + document.getElementById("ZIP").value + "+5";
  }

  function resizeIframe(obj) {
      const div = document.getElementById("scenario-container")
      // Set Parent Iframe equal to div height - padding
      parent.document.getElementById("adjustable-iframe").height = div.clientHeight - 5
  }


</script>

<style>
.iframe-container {
  overflow: hidden;
  // Calculated from the aspect ration of the content (in case of 16:9 it is 9/16= 0.5625)
  padding-top: 56.25%;
  position: relative;
}
 
.iframe-container iframe {
   border: 0;
   height: 100%;
   left: 0;
   position: absolute;
   top: 0;
   width: 100%;

}
.iframe-content {
    border: 4px solid #0f7699;
    border-radius: 15px;
    margin: auto;
}

</style>

<head>
</head>
<body>
  <div class="container" style="background: #8cb7ce; width:100%;">
    <div class="row">
      <div class="col-md-12 forecast" style = "height=30px;">
        <div class="scenario-selection">
          <div class="scenario-selection-container" style ="width: 20% ;margin-left: auto;margin-right: auto;">
            <input id="ZIP" type="text" name="Enter Zip Code" style ="width: 80%" placeholder = "Enter ZIP Code">
            <button onclick="updateZIP()" style ="width: 15%; background: #609dd4">Find</button>
          </div>
      </div>
    </div>
  </div>
    <div class="row">
      <div class="col-md-8 forecast">
        <iframe class="iframe-content" id="14day"  scrolling="no" seamless="seamless" src="/covid19/14dayforecast" width ="100%" height="550px"></iframe>
      </div>
      <div class="col-md-4 counters">
        <iframe class="iframe-content" id="counters"  scrolling="no" seamless="seamless" src="/covid19/counter10027" width ="100%" height="550px"></iframe>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 projections">
       <!---- <iframe id="adjustable-iframe" class="projections" scrolling="no" seamless="seamless" src="/videoselection" width="100%"></iframe>-->
       <iframe class="iframe-content" id="stateprojection5"  scrolling="no" seamless="seamless" src="/covid19/stateprojection10027+5" width ="100%" height="550px"></iframe>
      </div>
      <div class="col-md-4 projectionsZIP">
        <!---- <iframe id="adjustable-iframe" class="projections" scrolling="no" seamless="seamless" src="/videoselection" width="100%"></iframe>-->
        <iframe class="iframe-content" id="stateprojection5"  scrolling="no" seamless="seamless" src="/covid19/stateprojection10027+5" width ="100%" height="550px"></iframe>
       </div>
       <div class="col-md-4 projectionsZIP">
        <!---- <iframe id="adjustable-iframe" class="projections" scrolling="no" seamless="seamless" src="/videoselection" width="100%"></iframe>-->
        <iframe class="iframe-content" id="stateprojection5"  scrolling="no" seamless="seamless" src="/covid19/stateprojection10027+5" width ="100%" height="550px"></iframe>
       </div>
    </div>
  </div>

</body>
</html>
