<!DOCTYPE html>
<html  >
<head>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <link rel="shortcut icon" href="/static/updateAssets/images/logo.png" type="image/x-icon">
  <meta name="description" content="">
  
  <title>Mailman COVID-19 Dashboard</title>



  <link rel="stylesheet" href="/static/updateAssets/web/assets/mobirise-icons-bold/mobirise-icons-bold.css">
  <link rel="stylesheet" href="/static/updateAssets/web/assets/mobirise-icons/mobirise-icons.css">
  <link rel="stylesheet" href="/static/updateAssets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/updateAssets/bootstrap/css/bootstrap-grid.min.css">
  <link rel="stylesheet" href="/static/updateAssets/bootstrap/css/bootstrap-reboot.min.css">
  <link rel="stylesheet" href="/static/updateAssets/dropdown/css/style.css">
  <link rel="stylesheet" href="/static/updateAssets/tether/tether.min.css">
  <link rel="stylesheet" href="/static/updateAssets/theme/css/style.css">
  <link rel="preload" as="style" href="/static/updateAssets/mobirise/css/mbr-additional.css"><link rel="stylesheet" href="/static/updateAssets/mobirise/css/mbr-additional.css" type="text/css">
  
  
  
</head>
<body>
  <section class="menu cid-rT9tiAzdeg" once="menu" id="menu1-a">

    

    <nav class="navbar navbar-expand beta-menu navbar-dropdown align-items-center navbar-fixed-top navbar-toggleable-sm">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <div class="hamburger">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </button>
        <div class="menu-logo">
            <div class="navbar-brand">
                
                <span class="navbar-caption-wrap"><a class="navbar-caption text-white display-4" href="https://www.mailman.columbia.edu/">
                        Columbia University Mailman School of Public Health</a></span>
            </div>
        </div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav nav-dropdown nav-right" data-app-modern-menu="true"><li class="nav-item">
                    <a class="nav-link link text-white display-4" href="/dashboard"><span class="mbrib-sites mbr-iconfont mbr-iconfont-btn"></span>
                        Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link text-white display-4" href="/updates"><span class="mbrib-growing-chart mbr-iconfont mbr-iconfont-btn"></span>
                        Updates</a>
                </li>
                 <li class="nav-item">
                    <a class="nav-link link text-white display-4" href="/references"><span class="mbrib-briefcase mbr-iconfont mbr-iconfont-btn"></span>
                        References</a>
                </li></ul>
           
        </div>
    </nav>
</section>

{% block content%}
{% endblock %}


<section once="footers" class="cid-rT9q7brxVN" id="footer6-3">


    <div class="container">
        <div class="media-container-row align-center mbr-white">
            <div class="col-12">
                <p class="mbr-text mb-0 mbr-fonts-style display-7"> Jay Karp and Matthew So - Columbia University - 2020</p>
            </div>
        </div>
    </div>
</section>


  <script src="/static/updateAssets/popper/popper.min.js"></script>
  <script src="/static/updateAssets/web/assets/jquery/jquery.min.js"></script>
  <script src="/static/updateAssets/bootstrap/js/bootstrap.min.js"></script>
  <script src="/static/updateAssets/parallax/jarallax.min.js"></script>
  <script src="/static/updateAssets/dropdown/js/nav-dropdown.js"></script>
  <script src="/static/updateAssets/dropdown/js/navbar-dropdown.js"></script>
  <script src="/static/updateAssets/touchswipe/jquery.touch-swipe.min.js"></script>
  <script src="/static/updateAssets/tether/tether.min.js"></script>
  <script src="/static/updateAssets/smoothscroll/smooth-scroll.js"></script>
  <script src="/static/updateAssets/theme/js/script.js"></script>
    
</body>
</html>
