{% extends "MenuTemplate.html" %}
{% block content %}


  <link rel="stylesheet" href="/static/soonAssets/web/assets/mobirise-icons/mobirise-icons.css">
  <link rel="stylesheet" href="/static/soonAssets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/soonAssets/bootstrap/css/bootstrap-grid.min.css">
  <link rel="stylesheet" href="/static/soonAssets/bootstrap/css/bootstrap-reboot.min.css">
  <link rel="stylesheet" href="/static/soonAssets/tether/tether.min.css">
  <link rel="stylesheet" href="/static/soonAssets/theme/css/style.css">
  <link rel="preload" as="style" href="/static/soonAssets/mobirise/css/mbr-additional.css"><link rel="stylesheet" href="/static/soonAssets/mobirise/css/mbr-additional.css" type="text/css">
  
  
  
</head>
<body>
  <section class="cid-rTeavPZmwA mbr-fullscreen mbr-parallax-background" id="header2-k">

    

    <div class="mbr-overlay" style="opacity: 0.3; background-color: rgb(15, 118, 153);"></div>

    <div class="container align-center">
        <div class="row justify-content-md-center">
            <div class="mbr-white col-md-10">
                <h1 class="mbr-section-title mbr-bold pb-3 mbr-fonts-style display-1">
                    Coming Soon!</h1>
                
                <p class="mbr-text pb-3 mbr-fonts-style display-5">
                    Come back soon to see our live COVID-19 dashboard!</p>
                <div class="mbr-section-btn"><a class="btn btn-md btn-primary display-4" href="/updates">Updates</a></div>
            </div>
        </div>
    </div>
    
</section>


  <section class="engine"><a href="https://mobirise.info/j">website templates</a></section><script src="/static/soonAssets/web/assets/jquery/jquery.min.js"></script>
  <script src="/static/soonAssets/popper/popper.min.js"></script>
  <script src="/static/soonAssets/bootstrap/js/bootstrap.min.js"></script>
  <script src="/static/soonAssets/tether/tether.min.js"></script>
  <script src="/static/soonAssets/smoothscroll/smooth-scroll.js"></script>
  <script src="/static/soonAssets/parallax/jarallax.min.js"></script>
  <script src="/static/soonAssets/theme/js/script.js"></script>
  
  
{% endblock %}