{% extends "MenuTemplate.html" %}
{% block content %}

<section class="engine"><a href="https://mobirise.info/g">how to build a site</a></section><section class="header1 cid-rT9FvFwykj mbr-parallax-background" id="header16-b">

    

    <div class="mbr-overlay" style="opacity: 0.4; background-color: rgb(7, 59, 76);">
    </div>

    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-md-10 align-center">
                <h1 class="mbr-section-title mbr-bold pb-3 mbr-fonts-style display-1">Mailman COVID-19 Updates</h1>
                
                
                
            </div>
        </div>
    </div>

</section>

{% for post in posts %}
{% if loop.index % 2 == 0 %}
<section class="mbr-section content4 cid-rT9Gtgjfd0" id="content4-g">

    <div class="container">
        <div class="media-container-row">
            <div class="title col-12 col-md-8">
                <h2 class="align-center pb-3 mbr-fonts-style display-2">
                    {{post.title}} 
                </h2>
                <h5 class="align-center">
                    By {{post.author}}
                </h5>
                <h3 class="mbr-section-subtitle align-center mbr-light mbr-fonts-style display-5">
                    {{post.content}}
                </h3>
                
            </div>
        </div>
    </div>
</section>

{% else %}

<section class="mbr-section content4 cid-rT9GyeRrJv" id="content4-e">

    

    <div class="container">
        <div class="media-container-row">
            <div class="title col-12 col-md-8">
                <h2 class="align-center pb-3 mbr-fonts-style display-2">
                    {{post.title}} 
                </h2>
                <h5 class="align-center">
                    By {{post.author}}
                </h5>
                <h3 class="mbr-section-subtitle align-center mbr-light mbr-fonts-style display-5">
                    {{post.content}}
                </h3>
                
            </div>
        </div>
    </div>
</section>

{% endif %}



{% endfor %}
{% endblock %}