{% extends "MenuTemplate.html" %}
    {% block content %}

    <section class="engine"><a href="https://mobirise.info/g">how to build a site</a></section><section class="header1 cid-rT9FvFwykj mbr-parallax-background" id="header16-b">

    

    <div class="mbr-overlay" style="opacity: 0.4; background-color: rgb(7, 59, 76);">
    </div>

    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-md-10 align-center">
                <h1 class="mbr-section-title mbr-bold pb-3 mbr-fonts-style display-1">Mailman COVID-19 Updates</h1>
                
                
                
            </div>
        </div>
    </div>

    </section>{% endblock %}